$transitionTime: 0.3s;

$colorMain: #00dbd0;
$colorMainSecond: #f1fefe;

$colorMainAlpha: rgba(
    $color: $colorMain,
    $alpha: 0.25,
);

$textColorMain: #374b5c;
$textColorMainAlpha: rgba(
    $color: $textColorMain,
    $alpha: 0.8,
);

$textColorSecond: #ffffff;
$sectionBgColor: #fbfefe;

$bodyGradient: linear-gradient(180deg, $colorMainSecond, $textColorSecond);

// $phoneSize: 400px;
// $phabletSize: 560px;
// $phoneWideSize: 480px;
$tabletSmallSize: 650px;
$tabletSize: 820px;
$tabletWideSize: 1000px;
// $desktopSize: 1248px;
$desktopWideSize: 1480px;
