.do {
    &-inner {
        padding: 90px 0 150px;
        text-align: center;
    }
    &__vegan {
        margin: 0 auto 15px;
    }
    &__title {
    }
    &__text {
    }
    &__list {
        display: flex;
        margin: 80px -10px 0;
        &-item {
            flex-basis: 25%;
            padding: 0 10px;
        }
    }
    &__card {
    }
}
