.goods {
    &-inner {
        padding: 200px 0 90px;
        text-align: center;
    }
    &__text-2 {
        margin: 10px auto;
    }
    &__list {
        display: flex;
        margin: 80px -10px 0;
        flex-wrap: wrap;
        &-item {
            flex-basis: 33.333%;
            padding: 15px 10px;
        }
    }
    @media screen and (max-width: $tabletSize) {
        &__list {
            &-item {
                flex-basis: 50%;
            }
        }
    }
    @media screen and (max-width: $tabletSmallSize) {
        &__list {
            max-width: 350px;
            margin: 0 auto;
            &-item {
                flex-basis: 100%;
            }
        }
    }
}
