.goods {
    &-inner {
        padding: 200px 0 90px;
        text-align: center;
    }
    &__title {
    }
    &__text-2 {
        margin: 10px auto;
    }
    &__list {
        display: flex;
        margin: 80px -10px 0;
        flex-wrap: wrap;
        &-item {
            flex-basis: 33.333%;
            padding: 15px 10px;
        }
    }
}
