.read {
    &-inner {
        padding: 80px 0 80px;
        text-align: center;
    }
    &__vegan {
        margin: 0 auto 15px;
    }
    &__list {
        display: flex;
        margin: 80px -10px 0;
        &-item {
            flex-basis: 33.333%;
            padding: 0 10px;
        }
    }
    @media screen and (max-width: $tabletSize) {
        &__list {
            display: flex;
            flex-direction: column;
            max-width: 400px;
            margin: 80px auto 0;
            &-item {
                padding: 10px;
            }
        }
    }
}
