.subscribe {
    background-color: $sectionBgColor;

    &-inner {
        position: relative;
        padding: 100px 0 50px;
        z-index: 2;
    }

    &__form {
        position: relative;
        margin: 65px auto 0;
        max-width: 580px;

        &-input {
            font-size: 14px;
            padding: 20px 190px 20px 30px;
            border-radius: 35px;
            background-color: transparent;
            border: 2px solid $colorMainAlpha;
            display: block;
            width: 100%;

            &::placeholder {
                color: $textColorMainAlpha;
            }
        }
        &-btn {
            position: absolute;
            font-size: 18px;
            top: 7px;
            right: 7px;
            border-radius: 25px;
            width: 170px;

            &:focus {
                outline: none;
            }
        }
    }
}
