.testimonial {
    position: relative;

    &-bg-img {
        &-right,
        &-left {
            position: absolute;
            z-index: 1;
        }
        &-left {
            top: 50%;
            left: 0;
            width: 400px;
        }
        &-right {
            top: 20%;
            right: 0;
            width: 400px;
        }
    }

    &-inner {
        padding: 100px 0 80px;
        text-align: center;
    }
    &__slider {
        max-width: 600px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        z-index: 2;

        &-pagination {
            margin: 20px 0 0;
            .swiper-pagination-bullet {
                background-color: transparent;
                border: 1px solid $colorMain;

                &-active,
                &:hover {
                    background-color: $colorMain;
                }
            }
        }
    }
    &__card {
        display: block;
        margin: 0 auto;
        text-align: center;
        color: $textColorMain;
        transition: $transitionTime;

        &-img {
            height: 50px;
            margin: 0 auto;
            &-icon {
                height: 100%;
                fill: $colorMainAlpha;
            }
        }
        &-foto {
            @include box(100px);
            border-radius: 100%;
            margin: 30px auto 15px;
        }
        &-name {
            font-size: 26px;
        }
        &-raiting {
            display: flex;
            justify-content: center;
            margin: 10px auto 20px;
            &-icon {
                margin: 0 3px;
                display: block;
                @include box(20px);
                fill: $colorMainAlpha;
                &--active {
                    fill: $colorMain;
                }
            }
        }
        &-text {
            line-height: 40px;
        }
        &:hover &-text {
            text-decoration: underline;
        }
    }
}
