extends layout/main

block variables
	-var title = 'Organic'

block content
	include ./modules/sections/nature.pug
	include ./modules/sections/welcome.pug
	include ./modules/sections/presented.pug
	include ./modules/sections/slider.pug
	include ./modules/sections/subscribe.pug
	include ./modules/sections/read.pug