extends layout/main

block variables
	-var title = 'Organic'

block content
	include ./modules/sections/nature
	include ./modules/sections/welcome
	include ./modules/sections/presented
	include ./modules/sections/testimonial
	include ./modules/sections/subscribe
	include ./modules/sections/read