.footer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 71% 0%;
    position: relative;
    color: $textColorSecond;
    font-size: 14px;

    &-inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0 50px;
    }

    &__title {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 10px;
        position: relative;
        margin-bottom: 15px;
        &::before {
            content: '';
            display: block;
            height: 2px;
            width: 55px;
            position: absolute;
            z-index: 1;
            background-color: $colorMain;
            left: 0;
            bottom: 0;
        }
    }

    &-about {
        &__text {
            max-width: 370px;
            margin: 50px 0 40px;
        }
        &__copyright {
            padding-top: 10px;
            position: relative;
            &::before {
                content: '';
                display: block;
                height: 2px;
                width: 75px;
                position: absolute;
                z-index: 1;
                background-color: $colorMain;
                left: 0;
                top: 0;
            }
        }
    }
    &-information {
        margin: 0 20px;
        &__item:not(:first-child) {
            margin-top: 15px;
        }
        &__ref {
            color: $textColorSecond;
            transition: $transitionTime;
            &:hover,
            &:active {
                color: $colorMain;
            }
        }
    }
    &-follow {
        &__list {
            display: flex;
        }
        &__item:not(:first-child) {
            margin-left: 20px;
        }
        &__ref {
            &-icon {
                height: 30px;
                width: 30px;
                fill: $textColorSecond;
                transition: $transitionTime;

                &:hover,
                &:active {
                    fill: $colorMain;
                }
            }
        }
    }

    @media screen and (max-width: $tabletSize) {
        &-inner {
            flex-direction: column;
            padding: 100px 0 30px;
        }

        &-about {
            &__text {
                margin: 20px 0 15px;
            }
        }

        &-information {
            margin: 40px 0;
            &__item:not(:first-child) {
                margin-top: 10px;
            }
        }
    }
}
