.blog-card {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    background-color: $sectionBgColor;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.05);

    &__info {
        padding: 20px 10px;
    }
    &__title {
        margin: 0 auto 10px;
        color: $colorMain;
    }
    &__text {
        max-width: 210px;
        margin: 0 auto;
        font-size: 14px;
    }
    &__btn {
        display: block;
        position: relative;
        margin: 15px auto 0;
        color: $textColorMain;
        padding-bottom: 5px;
        max-width: 100px;
        &::before {
            content: '';
            display: block;
            height: 2px;
            width: 50%;
            position: absolute;
            z-index: 1;
            background-color: $colorMain;
            left: 25%;
            bottom: 0;
            transition: $transitionTime;
        }
        &:hover,
        &:active {
            &::before {
                width: 100%;
                left: 0;
            }
        }
    }
}
