.btn {
    text-align: center;
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid $colorMain;
    cursor: pointer;
    transition: $transitionTime;

    &--ref {
        background-color: transparent;
        color: $textColorMain;
        &:hover,
        &:active {
            color: $textColorSecond;
            background-color: $colorMain;
        }
    }
    &--form {
        background-color: $colorMain;
        color: $textColorSecond;
        &:hover,
        &:active {
            color: $textColorMain;
            background-color: transparent;
        }
    }
}
