.nav {
    &__list {
        position: relative;
        z-index: 6;
        display: flex;
        align-items: center;
    }
    &__item:not(:first-child) {
        margin: 0 0 0 50px;
    }
    &__ref {
        color: $textColorMain;
        display: block;
        padding: 5px 10px;
        border-bottom: 2px solid transparent;
        transition: $transitionTime;

        &:hover,
        &:active {
            border-bottom: 2px solid $colorMain;
        }
    }
    &__btn {
        min-width: 140px;
    }
    &__burger {
        display: none;
    }
    @media screen and (max-width: $tabletWideSize) {
        &__item:not(:first-child) {
            margin: 0 0 0 20px;
        }
    }

    @media screen and (max-width: $tabletSize) {
        &::after {
            content: '';
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 3;
            transform: translate(100%, 0);
        }

        &__list {
            position: fixed;
            right: 0;
            top: 0;
            width: 250px;
            height: 100%;
            padding: 100px 10px 20px;
            background-color: $colorMainSecond;

            transform: translate(100%, 0);
            transition: $transitionTime;

            z-index: 4;
            flex-direction: column;
        }
        &__item:not(:first-child) {
            margin: 15px auto;
        }
        &__burger {
            display: block;
            height: 20px;
            width: 30px;
            cursor: pointer;
            position: relative;
            z-index: 6;

            &::before,
            &::after,
            span {
                display: block;
                content: '';
                background-color: $textColorMain;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: $transitionTime;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            span {
                top: 9px;
            }
            &:hover,
            &:active {
                &::before,
                &::after,
                span {
                    background-color: $colorMain;
                }
            }
        }

        &--active::after {
            transform: translate(0, 0);
        }

        &--active &__list {
            transform: translate(0, 0);
            box-shadow: $navShadow;
        }
        &--active &__burger {
            &::before {
                transform: rotate(45deg);
                top: 9px;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
            span {
                transform: scale(0);
            }
        }
    }
}
