section.contacts
    .wrapper 
        .contacts-inner
            h2.title-large.contacts__title Send us a message
            p.text.contacts__text-1 Feel free to fill out the form and reach to us.
            p.text.contacts__text-2 We will get back to you shortly.
            form.contacts__form(action="")
                .contacts__form-inner
                    input.contacts__form-input.contacts__form-first(type="text" placeholder="First Name")
                    input.contacts__form-input.contacts__form-last(type="text" placeholder="Last Name")
                    input.contacts__form-input.contacts__form-email(type="email" placeholder="Email")
                    input.contacts__form-input.contacts__form-tel(type="tel" placeholder="Phone")
                    textarea.contacts__form-textarea.contacts__form-message(type="text" placeholder="Message")
                button.btn.btn--form.contacts__form-btn(type="submit") Subscribe
