section.do
    .wrapper 
        .do-inner
            img.do__vegan(src='./assets/images/vegan.svg' alt='Vegan Logo')
            h2.title-large.do__title What we do
            p.text.do__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            ul.do__list
                li.do__list-item
                    a.food-card(href="products.html")
                        .food-card__img
                            +icon("organic-food","food-card__img-icon")
                        h4.title-small.food-card__title Organic Food
                        p.food-card__text Lorem ipsum dolor sit amet, consectetur
                li.do__list-item
                    a.food-card(href="products.html")
                        .food-card__img
                            +icon("organic-food","food-card__img-icon")
                        h4.title-small.food-card__title Organic Food
                        p.food-card__text Lorem ipsum dolor sit amet, consectetur
                li.do__list-item
                    a.food-card(href="products.html")
                        .food-card__img
                            +icon("organic-food","food-card__img-icon")
                        h4.title-small.food-card__title Organic Food
                        p.food-card__text Lorem ipsum dolor sit amet, consectetur
                li.do__list-item
                    a.food-card(href="products.html")
                        .food-card__img
                            +icon("organic-food","food-card__img-icon")
                        h4.title-small.food-card__title Organic Food
                        p.food-card__text Lorem ipsum dolor sit amet, consectetur
