section.goods
    .wrapper 
        .goods-inner
            h2.title-large.goods__title Products
            p.text.goods__text-1 Feel free to fill out the form and reach to us.
            p.text.goods__text-2 We will get back to you shortly.
            ul.goods__list
                li.goods__list-item
                    figure.good-card
                        img.good-card__img(src='./assets/images/blog-img-1.jpg' alt='Post Image')
                        figcaption.good-card__info
                            h4.title-small.good-card__title Product One
                            p.good-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.btn.btn--ref.good-card__btn(href="products.html") Order Now
                li.goods__list-item
                    figure.good-card
                        img.good-card__img(src='./assets/images/blog-img-2.jpg' alt='Post Image')
                        figcaption.good-card__info 
                            h4.title-small.good-card__title Product Two
                            p.good-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.btn.btn--ref.good-card__btn(href="products.html") Order Now
                li.goods__list-item
                    figure.good-card
                        img.good-card__img(src='./assets/images/blog-img-3.jpg' alt='Post Image')
                        figcaption.good-card__info
                            h4.title-small.good-card__title Product Three
                            p.good-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.btn.btn--ref.good-card__btn(href="products.html") Order Now
                li.goods__list-item
                    figure.good-card
                        img.good-card__img(src='./assets/images/blog-img-1.jpg' alt='Post Image')
                        figcaption.good-card__info
                            h4.title-small.good-card__title Product One
                            p.good-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.btn.btn--ref.good-card__btn(href="products.html") Order Now
                li.goods__list-item
                    figure.good-card
                        img.good-card__img(src='./assets/images/blog-img-2.jpg' alt='Post Image')
                        figcaption.good-card__info 
                            h4.title-small.good-card__title Product Two
                            p.good-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.btn.btn--ref.good-card__btn(href="products.html") Order Now
                li.goods__list-item
                    figure.good-card
                        img.good-card__img(src='./assets/images/blog-img-3.jpg' alt='Post Image')
                        figcaption.good-card__info
                            h4.title-small.good-card__title Product Three
                            p.good-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.btn.btn--ref.good-card__btn(href="products.html") Order Now
