section.nature(style="background-image:url(./assets/images/nature-bg-img.png)")
    .wrapper 
        .nature-inner
            h2.nature__subtitle Healthy life with
            h1.nature__title Nature Organic
            p.nature__text Vegetables are the edible parts of a plant that is used in cooking or can be eaten now.
            a.btn.btn--ref.nature__btn(href="/" target="_blank") Explore Now