section.posts
    .wrapper 
        .posts-inner
            h2.title-large.posts__title Our Blog
            p.text.posts__text-1 Feel free to fill out the form and reach to us.
            p.text.posts__text-2 We will get back to you shortly.
            ul.posts__list#posts__list
                li.posts__list-item
                    figure.blog-card
                        img.blog-card__img(src='./assets/images/blog-img-1.jpg' alt='Post Image')
                        figcaption.blog-card__info
                            h4.title-small.blog-card__title Blog Post
                            p.blog-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.blog-card__btn(href="blog.html") Read More
                li.posts__list-item
                    figure.blog-card
                        img.blog-card__img(src='./assets/images/blog-img-2.jpg' alt='Post Image')
                        figcaption.blog-card__info 
                            h4.title-small.blog-card__title Blog Post
                            p.blog-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.blog-card__btn(href="blog.html") Read More
                li.posts__list-item
                    figure.blog-card
                        img.blog-card__img(src='./assets/images/blog-img-3.jpg' alt='Post Image')
                        figcaption.blog-card__info
                            h4.title-small.blog-card__title Blog Post
                            p.blog-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.blog-card__btn(href="blog.html") Read More
                li.posts__list-item
                    figure.blog-card
                        img.blog-card__img(src='./assets/images/blog-img-1.jpg' alt='Post Image')
                        figcaption.blog-card__info
                            h4.title-small.blog-card__title Blog Post
                            p.blog-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.blog-card__btn(href="blog.html") Read More
                li.posts__list-item
                    figure.blog-card
                        img.blog-card__img(src='./assets/images/blog-img-2.jpg' alt='Post Image')
                        figcaption.blog-card__info 
                            h4.title-small.blog-card__title Blog Post
                            p.blog-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.blog-card__btn(href="blog.html") Read More
                li.posts__list-item
                    figure.blog-card
                        img.blog-card__img(src='./assets/images/blog-img-3.jpg' alt='Post Image')
                        figcaption.blog-card__info
                            h4.title-small.blog-card__title Blog Post
                            p.blog-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.blog-card__btn(href="blog.html") Read More
                li.posts__list-item.posts__list-item--hidden
                    figure.blog-card
                        img.blog-card__img(src='./assets/images/blog-img-2.jpg' alt='Post Image')
                        figcaption.blog-card__info 
                            h4.title-small.blog-card__title Blog Post
                            p.blog-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.blog-card__btn(href="blog.html") Read More
                li.posts__list-item.posts__list-item--hidden
                    figure.blog-card
                        img.blog-card__img(src='./assets/images/blog-img-3.jpg' alt='Post Image')
                        figcaption.blog-card__info
                            h4.title-small.blog-card__title Blog Post
                            p.blog-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.blog-card__btn(href="blog.html") Read More
            button.btn.btn--ref.posts__btn#posts__btn(href="") Load More

