section.presented
    .wrapper 
        .presented-inner
            h2.title-large.presented__title Welcome to Nature
            p.text.presented__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .presented__slider
                .swiper-wrapper
                    .swiper-slide
                        .presented__card
                            img.presented__card-img(src='./assets/images/logo-company1.png' alt='Company Logo')
                    .swiper-slide
                        .presented__card
                            img.presented__card-img(src='./assets/images/logo-company2.png' alt='Company Logo')
                    .swiper-slide
                        .presented__card
                            img.presented__card-img(src='./assets/images/logo-company3.png' alt='Company Logo')
                    .swiper-slide
                        .presented__card
                            img.presented__card-img(src='./assets/images/logo-company1.png' alt='Company Logo')
                    .swiper-slide
                        .presented__card
                            img.presented__card-img(src='./assets/images/logo-company2.png' alt='Company Logo')
                    .swiper-slide
                        .presented__card
                            img.presented__card-img(src='./assets/images/logo-company3.png' alt='Company Logo')
                    .swiper-slide
                        .presented__card
                            img.presented__card-img(src='./assets/images/logo-company1.png' alt='Company Logo')
                    .swiper-slide
                        .presented__card
                            img.presented__card-img(src='./assets/images/logo-company2.png' alt='Company Logo')
                    .swiper-slide
                        .presented__card
                            img.presented__card-img(src='./assets/images/logo-company2.png' alt='Company Logo')
                    .swiper-slide
                        .presented__card
                            img.presented__card-img(src='./assets/images/logo-company3.png' alt='Company Logo')
                .swiper-pagination.presented__slider-pagination    