section.read
    .wrapper 
        .read-inner
            img.read__vegan(src='./assets/images/vegan.svg' alt='Vegan Logo')
            h2.title-large.read__title Read Our Blog
            p.text.read__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            ul.read__list
                li.read__list-item
                    figure.blog-card
                        img.blog-card__img(src='./assets/images/blog-img-1.jpg' alt='Post Image')
                        figcaption.blog-card__info
                            h4.title-small.blog-card__title Blog Post
                            p.blog-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.blog-card__btn(href="blog.html") Read More
                li.read__list-item
                    figure.blog-card
                        img.blog-card__img(src='./assets/images/blog-img-2.jpg' alt='Post Image')
                        figcaption.blog-card__info 
                            h4.title-small.blog-card__title Blog Post
                            p.blog-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.blog-card__btn(href="blog.html") Read More
                li.read__list-item
                    figure.blog-card
                        img.blog-card__img(src='./assets/images/blog-img-3.jpg' alt='Post Image')
                        figcaption.blog-card__info
                            h4.title-small.blog-card__title Blog Post
                            p.blog-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                            a.blog-card__btn(href="blog.html") Read More
