section.subscribe
    .wrapper 
        .subscribe-inner
            h2.title-large.subscribe__title Subscribe to Our Newsletter
            p.text.subscribe__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            form.subscribe__form(action="")
                input.subscribe__form-input(type="email" placeholder="Enter your email address")
                button.btn.btn--form.subscribe__form-btn(type="submit") Subscribe



