section.testimonial
    img.testimonial-bg-img-left(src='./assets/images/leafs-left.png' alt='Leafs Image')
    img.testimonial-bg-img-right(src='./assets/images/leafs-right.png' alt='Leafs Image')
    .wrapper 
        .testimonial-inner
            .testimonial__slider
                .swiper-wrapper
                    .swiper-slide
                        a(href="").testimonial__card
                            .testimonial__card-img
                                +icon("right-quotation-mark","testimonial__card-img-icon")
                            img.testimonial__card-foto(src='./assets/images/foto.jpg' alt='Foto')
                            h3.testimonial__card-name Jane Doe
                            .testimonial__card-raiting
                                +icon("star","testimonial__card-raiting-icon testimonial__card-raiting-icon--active")
                                +icon("star","testimonial__card-raiting-icon testimonial__card-raiting-icon--active")
                                +icon("star","testimonial__card-raiting-icon testimonial__card-raiting-icon--active")
                                +icon("star","testimonial__card-raiting-icon")
                                +icon("star","testimonial__card-raiting-icon")
                            blockquote.testimonial__card-text Thank you for all the amazing produce and products you deliver each week… you make my life so easy an bring goodness into our family eating. I’ve been roasting a lot of brussel sprouts and         
                    .swiper-slide
                        a(href="").testimonial__card
                            .testimonial__card-img
                                +icon("right-quotation-mark","testimonial__card-img-icon")
                            img.testimonial__card-foto(src='./assets/images/foto.jpg' alt='Foto')
                            h3.testimonial__card-name Jane Doe
                            .testimonial__card-raiting
                                +icon("star","testimonial__card-raiting-icon testimonial__card-raiting-icon--active")
                                +icon("star","testimonial__card-raiting-icon testimonial__card-raiting-icon--active")
                                +icon("star","testimonial__card-raiting-icon testimonial__card-raiting-icon--active")
                                +icon("star","testimonial__card-raiting-icon")
                                +icon("star","testimonial__card-raiting-icon")
                            blockquote.testimonial__card-text Thank you for all the amazing produce and products you deliver each week… you make my life so easy an bring goodness into our family eating. I’ve been roasting a lot of brussel sprouts and         
                    .swiper-slide
                        a(href="").testimonial__card
                            .testimonial__card-img
                                +icon("right-quotation-mark","testimonial__card-img-icon")
                            img.testimonial__card-foto(src='./assets/images/foto.jpg' alt='Foto')
                            h3.testimonial__card-name Jane Doe
                            .testimonial__card-raiting
                                +icon("star","testimonial__card-raiting-icon testimonial__card-raiting-icon--active")
                                +icon("star","testimonial__card-raiting-icon testimonial__card-raiting-icon--active")
                                +icon("star","testimonial__card-raiting-icon testimonial__card-raiting-icon--active")
                                +icon("star","testimonial__card-raiting-icon")
                                +icon("star","testimonial__card-raiting-icon")
                            blockquote.testimonial__card-text Thank you for all the amazing produce and products you deliver each week… you make my life so easy an bring goodness into our family eating. I’ve been roasting a lot of brussel sprouts and         
                .swiper-pagination.testimonial__slider-pagination    