section.welcome
    .wrapper 
        .welcome-inner
            img.welcome__vegan(src='./assets/images/vegan.svg' alt='Vegan Logo')
            h2.welcome__title Welcome to Nature
            p.welcome__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            ul.welcome__list
                li.welcome__list-item
                    a.welcome__card(href="products.html")
                        .welcome__card-img
                            +icon("organic-food","welcome__card-img-icon")
                        h4.welcome__card-title Organic Food
                        p.welcome__card-text Lorem ipsum dolor sit amet, consectetur
                li.welcome__list-item
                    a.welcome__card(href="products.html")
                        .welcome__card-img
                            +icon("organic-food","welcome__card-img-icon")
                        h4.welcome__card-title Organic Food
                        p.welcome__card-text Lorem ipsum dolor sit amet, consectetur
                li.welcome__list-item
                    a.welcome__card(href="products.html")
                        .welcome__card-img
                            +icon("organic-food","welcome__card-img-icon")
                        h4.welcome__card-title Organic Food
                        p.welcome__card-text Lorem ipsum dolor sit amet, consectetur
                li.welcome__list-item
                    a.welcome__card(href="products.html")
                        .welcome__card-img
                            +icon("organic-food","welcome__card-img-icon")
                        h4.welcome__card-title Organic Food
                        p.welcome__card-text Lorem ipsum dolor sit amet, consectetur
